<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>Epam</display-name>

<!--============================================================
	Controller
=============================================================-->

	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>com.epam.project.controller.FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>

<!--============================================================
	i18n filter
=============================================================-->
	<filter>
		<filter-name>LocaleFilter</filter-name>
		<filter-class>com.epam.project.filter.LocaleFilter</filter-class>
		<init-param>
			<param-name>defaultLocale</param-name>
		    <param-value>ru</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LocaleFilter</filter-name>
		<servlet-name>FrontController</servlet-name>
	</filter-mapping>
	<!-- supported locales -->
	<context-param>
		<param-name>locales</param-name>
		<param-value>ru en</param-value>
	</context-param>
	
<!--============================================================
	CORS support
=============================================================-->
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<servlet-name>FrontController</servlet-name>
	</filter-mapping>
	
<!--============================================================
	Encoding support filter
=============================================================-->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.epam.project.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/WEB-INF/views/*</url-pattern>
	</filter-mapping>

	
<!--============================================================
	Error page
=============================================================-->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/vies/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/vies/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/vies/error.jsp</location>
	</error-page>
	
<!--============================================================
	Context listener
=============================================================-->
	<listener>
		<listener-class>com.epam.project.listener.ContextListener</listener-class>
	</listener>

<!--============================================================
	DB resource reference
=============================================================-->

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/epam</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

<!--============================================================
	Mail session resource reference (Not used)
=============================================================-->

<!-- 	<resource-ref> -->
<!-- 		<description> -->
<!-- 			Resource reference to a factory for javax.mail.Session -->
<!-- 			instances that may be used for sending electronic mail -->
<!-- 			messages, preconfigured to connect to the appropriate -->
<!-- 			SMTP server. -->
<!-- 		</description> -->
<!-- 		<res-ref-name> -->
<!-- 			mail/Session -->
<!-- 		</res-ref-name> -->
<!-- 		<res-type> -->
<!-- 			javax.mail.Session -->
<!-- 		</res-type> -->
<!-- 		<res-auth> -->
<!-- 			Container -->
<!-- 		</res-auth> -->
<!-- 	</resource-ref> -->

<!--============================================================
	Security filter.
	1) admin: admin commands
	2) client: client commands
	3) commons: commands for all roles
	4) out-of-control: commands without access control
	Delimiter - space/tab
=============================================================-->

	<filter>
		<filter-name>CommandAccessFilter</filter-name>
		<filter-class>com.epam.project.filter.CommandAccessFilter</filter-class>
		<init-param>
			<param-name>admin</param-name>
			<param-value>
			ADD_LECTURER_PAGE 
			MANAGE_STUDENTS_PAGE 
			MANAGE_COURSES_PAGE 
			ADD_EDIT_COURSE_PAGE 
			EDIT_LECTURER_PAGE
			EDIT_LECTURER
			CHANGE_USERS_STATUS
			ADD_EDIT_COURSE
			DELETE_COURSE
			</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>lecturer</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>common</param-name>
			<param-value>
			PROFILE_PAGE 
			MY_COURSES_PAGE
			SIGNOUT
			JOIN_COURSES
			</param-value>
		</init-param>
		<init-param>
			<param-name>out-of-control</param-name>
			<param-value>
			HOME_PAGE 
			LOGIN_PAGE 
			REGISTER_PAGE 
			LOGIN 
			REGISTER 
			SUCCESS_PAGE 
			ERROR_PAGE
			CHANGE_LANGUAGE
			REGISTRATION_CONFIRM
			</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>CommandAccessFilter</filter-name>
		<servlet-name>FrontController</servlet-name>
	</filter-mapping>


</web-app>
